layout{
    focus-ring{
        width 4
        active-color "#ff0000"
        urgent-color "#ff0000"
        }
}
recent-windows {    
    highlight {
        active-color "#fff9ee"
        urgent-color "#ba1a1a"
    }
}
