layout{
    focus-ring{
        width 4
        active-color "#ff0000"
        urgent-color "#ff0000"
        }
}
recent-windows {    
    highlight {
        active-color "{{colors.surface_bright.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
}
