@define-color accent_color #dcc66e;
@define-color accent_fg_color #ffffff;
@define-color accent_bg_color #6e5e0e;
@define-color window_bg_color #f4eddf;
@define-color window_fg_color #1e1b13;
@define-color headerbar_bg_color #f4eddf;
@define-color headerbar_fg_color #1e1b13;
@define-color popover_bg_color #f4eddf;
@define-color popover_fg_color #1e1b13;
@define-color view_bg_color #faf3e5;
@define-color view_fg_color #1e1b13;
@define-color card_bg_color #faf3e5;
@define-color card_fg_color #1e1b13;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
